@import url("https://fonts.dubuplus.com/css?family=Noto Sans KR");
.mobile_wrap * { font-family: 'Noto Sans KR'; letter-spacing:-0.5px; }


h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

.mobile_wrap {
    font-family: 'Noto Sans KR';
    font-size: 16px;
    overflow-x: hidden;
    color: #000;
}
.mobile_wrap a {
    color: inherit;
}
.wrap {
    margin: 0 auto;
    word-break: break-all;
    overflow: hidden;
}

/* point_btn */
button.point_btn {
    width: 215px;
    height: 52px;
    border-radius: 3px;
}
button.point_btn span {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    line-height: 52px;
}
button.point_btn span:after {
    display: inline-block;
    content:'';
    width: 10px;
    height: 9px;
    background: url(/template/s171127001001/images/arrowRight.png) no-repeat 0 top;
    margin-left: 10px;
}

/* mobile_mainmenu */
#col_1576634879 {
    z-index: 2000;
}
#mobile_mainmenu {
    display: none;
    visibility: hidden;
}
#mobile_hmenu {
    display:none;
}

#mobile_header.fixed_header, 
#header.fixed_header {}

/* header start */
#header {}
#header > .container {
    padding: 0;
}
#logo {}

/* header_menu */
#header_menu {
    font-size: 12px;
}
#header_menu li {
    display: inline-block;
}
#header_menu li + li:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 10px;
    background-color: #c0c0c0;
}
#header_menu li a {
    display: inline-block;
    line-height: 24px;
    color: #737373 !important;
    background:transparent !important;
}
#header_menu li a:hover {
    border-bottom: 1px solid #b2b2b2;
}

/* main_menu */
#main_menu {}
#main_menu .gnb {
    position: relative;
    text-align:center;
    font-size:0;
}
#main_menu .btn_main_menu,
#main_menu .gnb span {
    display: none;
}
#main_menu .gnb .depth1 {
    position: relative;
    display: inline-block;
}
#main_menu .gnb .depth1.active.point_hover_bg {
    background-color: transparent;
}
#main_menu .depth1 > a {
    display: block;
    padding: 11.5px 27px;
    line-height: 24px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}
#main_menu .depth1:hover {
    background-color: transparent !important;
}

#main_menu .depth1:hover > a {
    background-color: transparent !important;
}
#main_menu .gnb .depth1:hover > a {
    color: #333 !important;
}
#main_menu .gnb .depth1:hover .depth2 {
    display: block;
    z-index: 1;
}
#main_menu .depth1:hover .depth2 li {}
#main_menu .gnb .depth2 {
    display: none;
    position: absolute;
    left: 50%;
    width: 100%;
    min-width: 170px;
    transform: translateX(-50%);
    text-align: center;
}
#main_menu .depth2:before {}
#main_menu .depth2 li {
    position: relative;
    background-color: #2e69c7;
}
#main_menu .depth2 li:hover,
#main_menu .depth2 li:hover a {
    background-color: #5e90e5;
}
#main_menu .depth2 li:last-child {
    border-bottom: 0;
}
.depth2 li > a {
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 13px;
    letter-spacing: -0.1em;
    color: #fff !important;
}
.link_inner .depth2 li > a {
    padding: 0;
}
#main_menu .depth2 li:hover > a {
    /*color: #fff;*/
}
#main_menu .gnb .depth2.point_nav_bg > li > a {
    color: #fff !important;
}
#main_menu .gnb .depth2.point_nav_bg > li:hover > a {
    color: #fff !important;
}
#main_menu .depth3 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
}
#main_menu .depth2 li:hover > .depth3 {
    display: block;
}
#main_menu .depth2 li:hover {}
#header.point_bg #main_menu .point_hover_bg:hover {
    background-color: #0d0d0d;
}
#header #main_menu .gnb ul.depth2 li:hover {
    background-color: #0d0d0d;;
}
#header #main_menu .gnb .depth2 li > ul.depth3 li:hover {
    background-color: #0d0d0d;
}
#main_menu .depth2 li > .depth3 li {
}
#main_menu .gnb .depth1:last-child .depth3 {
    left: -100%;
}
.depth3 li > a {
    color:#999;
}
#main_menu .depth3 li > a:hover{    background-color: #2e69c7;}
#main_menu .depth2 li > .depth3 li:hover {}
/* header end */

/* visual start */
/* slideshow */
#app_1511513110 .slides {
    background-size: cover;
}

#app_1511513110 .slide_items.image {
    top: 50%;
    left: 44.9%;
    right: auto;
    bottom: auto;
    width: auto;
    height: auto;
    transform: translateY(-50%);
}

#app_1511513110 .slideshow .carousel-nav {
    z-index: 1500;
}

#section_1576656604 .container {
    position: relative;
    padding: 0;
    z-index: 1000;
}
#row_1576723148 {
    position: absolute;
    top: -447px;
    left: 0;
    display: inline-block;
    width: 420px;
}
#element_1576721847 ul {
    width: 100%;
    font-size: 0;
}
#element_1576721847 li {
    display: inline-block;
    width: 33.33%;
    font-size: 16px;
    letter-spacing: -0.12em;
    box-sizing: border-box;
    vertical-align: top;
}
#element_1576721847 li a {
    display: inline-block;
    width: 100%;
    height: 149px;
    padding-top: 100px;    
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 25px;    
    transition: background 0.5s;
}
#element_1576721847 li a:hover {
    background-color: #f8f8f8;
}
#element_1576721847 .item1 a {
    background-image: url(/template/s171127001001/images/visual_icon11.png);
    border: 1px solid #e9e9e9;
}
#element_1576721847 .item2 a {	
    background-image: url(/template/s171127001001/images/visual_icon22.png);
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#element_1576721847 .item3 a {	
    background-image: url(/template/s171127001001/images/visual_icon33.png);
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#element_1576721847 .item4 a {	
    background-image: url(/template/s171127001001/images/visual_icon44.png);
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#element_1576721847 .item5 a {	
    background-image: url(/template/s171127001001/images/visual_icon55.png);
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#element_1576721847 .item6 a {	
    background-image: url(/template/s171127001001/images/visual_icon66.png);
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#element_1576721847 .item7 a {	
    background-image: url(/template/s171127001001/images/visual_icon77.png);
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#element_1576721847 .item8 a {	
    background-image: url(/template/s171127001001/images/visual_icon88.png);
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#element_1576721847 .item9 a {	
    background-image: url(/template/s171127001001/images/visual_icon99.png);
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
/*
#element_1576721847 .item1 a:hover {
background-image: url(/template/s171127001001/images/visual_on_icon1.png);
}
#element_1576721847 .item2 a:hover {
background-image: url(/template/s171127001001/images/visual_on_icon2.png);
}
#element_1576721847 .item3 a:hover {
background-image: url(/template/s171127001001/images/visual_on_icon3.png);
}
#element_1576721847 .item4 a:hover {
background-image: url(/template/s171127001001/images/visual_on_icon4.png);
}
#element_1576721847 .item5 a:hover {
background-image: url(/template/s171127001001/images/visual_on_icon5.png);
}
#element_1576721847 .item6 a:hover {
background-image: url(/template/s171127001001/images/visual_on_icon6.png);
}
#element_1576721847 .item7 a:hover {
background-image: url(/template/s171127001001/images/visual_on_icon7.png);
}
#element_1576721847 .item8 a:hover {
background-image: url(/template/s171127001001/images/visual_on_icon8.png);
}
#element_1576721847 .item9 a:hover {
background-image: url(/template/s171127001001/images/visual_on_icon9.png);
}
*/
/* visual end */

/*** content start ***/
/* row 1 */
#row_1576648205 {
    color: #333;
}
#row_1576648205 h4 {
    letter-spacing: -0.12em;
}
#row_1576648205 h4:after {
    content: '';
    display: block;
    margin-top: 2px;
    font-size: 12px;
    letter-spacing: 0.26em;
    font-family: 'Montserrat';
    font-weight: 300;
    opacity: 50%;
}
#element_1576648165 h4:after {
    content: 'LOCATION';
}
#element_1576648352 h4:after {
    content: 'ONLINE INQUIRY';
}
#element_1576648167 h4:after {
    content: 'CUSTOMER CENTER';
}
#element_1576648169 h4:after {
    content: 'COMPANY INFO';
}
#app_1576648224 {
    overflow: hidden;
}
#app_1576648224.DUBU_Board_s150319001001 .board_main .tit_board_main {
    display: none;
}
#app_1576648224.DUBU_Board_s150319001001 .board_main_content {
    margin: 0;
}
#app_1576648224.DUBU_Board_s150319001001 .board_main table.tab_content td {
    padding: 3px 2px;
    text-align: left;
}
#row_1576647839 {
    color: #fff;
}
#element_1576648268 {
    letter-spacing: -0.16em;
    font-weight: 600;
} 

/* row 2 */
#element_1576650738 {}
#element_1576650738 ul {
    font-size: 0;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
#element_1576650738 .board_link_box {
    display: inline-block;
    width: 14.28%;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    box-sizing: border-box;    
    border-bottom: 2px solid #e8e8e8;
    letter-spacing: -0.12em;
}
#element_1576650738 .board_link_box + .board_link_box {
    border-left: 1px solid #e8e8e8;
}
#element_1576650738 .board_link_box:nth-child(even) {
    background-color: #f6f6f6;
}
#element_1576650738 .board_link_box:first-child {
    color: #0049b6;
}
#element_1576650738 .board_link_box a {
    display: block;
    padding: 14px 22px 14px 18px;
}
#element_1576650738 .board_link_box h3:after {
    content: '';
    display: inline-block;
    float: right;
    width: 26px;
    height: 26px;
    margin-top: -3px;
    background: url(/template/s171127001001/images/more-btn.png) no-repeat;
    transform: translateX(0);
    transition: transform 0.5s;
}
#element_1576650738 .board_link_box a:hover h3:after {
    transform: translateX(10px);
}

/* row 3 */
#app_1576653828 .slides {
    background-size: cover;
}
#app_1576653828 .slide_items.image {    
    left: auto;
    right: 6%;
}
#row_1576653442 p {
    font-weight: 600;
    letter-spacing: -0.12em;
}
#row_1576655303 {
    position: relative;
}
#row_1576655303:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/template/s171127001001/images/Group6.png) no-repeat;
    background-size: cover;
    opacity: 50%;
    transition: opacity 0.5s;
}
#row_1576655303:hover:before {
    opacity: 30%;
}
/*** content end ***/

/* footer start */
.clear {
    clear: both;
}
#footer {
    padding: 40px 0 50px;
}
#footer .container {
    padding: 0;
}
#footer p, 
#footer span {
    word-break: keep-all;
}

/* footer logo */
#element_1576636264 {
    display: inline-block;
    width: 260px;
    height: 86px;
    background: url(/template/s171127001001/images/logo_0112.png) no-repeat;
    background-size:100%;
}
#element_1576636264 h1 {
    overflow: hidden;
    text-indent: -99999px; 
}

#footer_menu {
    display: block;
    font-size: 14px;
    letter-spacing: -0.12em;
}
#footer_menu li {
    display: inline-block;
    padding-right: 12px;
}
#footer_menu li a {
    display: block;
    font-weight: 600 !important;
}
#footer .link_privacy a {
    font-weight: 600 !important;
    color: #333 !important;
}
#address {
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: -0.08em;
}
#address span {
    margin-right: 10px;
}
#address strong {
    font-weight: normal;
}
#address strong:after {
    content: ':';
    margin: 0 3px;
}
#copyright {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: -0.08em;
}
/* footer end */

/* scroll top */
.scrollup {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    padding:10px;
    bottom: 15px;
    right: 15px;
    text-align:center;
    text-indent: -9999em;
    font-size:14px;
    color:#fff !important;
    background-image:url(/template/s171127001001/images/scrollTop.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index:101;    
}

@media screen and (max-width:1200px) and (min-width:992px) {	
    #main_menu .depth1 > a {
        padding: 11.5px 18px;
    }
    #element_1576650738 .board_link_box a {
        padding: 14px 10px;
    }
    #element_1576650738 .board_link_box h3:after {
        margin-right: 7px;
    }
}

@media screen and (max-width:600px) {
    /* row 3 */
    #app_1576653828 .slide_items.image {
        top: 46%;
        bottom: auto;
        width: 50%;
        height: auto;
        transform: translateY(-50%);
    }
    #app_1576653828 #slide_items_1576654567078 {
        max-width: 232px;
    }
    #app_1576653828 #slide_items_1576654850295 {
        max-width: 268px
    }
    #app_1576653828 #slide_items_1576654505880 {
        max-width: 245px;
    }
}

@media screen and (max-width:500px) {
    #element_1576721847 li {
        font-size: 15px;
    }

}

@media screen and (max-width:400px) {
    /* row 3 */
    #app_1576653828 .slide_items.image {
        left: auto;
        right: 6%;
    }
    #row_1576653442 p {
        font-size: 13px;
    }
    #element_1576653150 {
        background-size: 71px 63px;
    }
    #element_1576653164,
    #element_1576653153 {
        background-size: 61px;
    }
    #element_1576653156 {
        background-size: 61px 69px;
    }
}


#content {padding-bottom:30px;}

#element_1576721847 h2, .board_link_box h3, #row_1576653442 p {font-family:'NanumSquareRound';}
.DUBU_Board_s150319001001 .board_main .tit_board_main {margin: 0 !important;    background: #f3f3f3;    padding: 10px 20px;    border: 1px solid #e8e8e8;    border-radius: 5px;}
.DUBU_Board_s150319001001 .board_main .tit_board_main h3 { font-size: 20px !important;    color: #000 !important;    font-weight: 500;    letter-spacing: -1px;}
.DUBU_Board_s150319001001 .board_main .btn_more {    margin-top: 8px !important;}
.DUBU_Board_s150319001001 .board_main table.tab_content td {padding: 7px 5px !important;}
.DUBU_Board_s150319001001 .board_main_content{padding: 0px 5px; }





#section_1612404255 {border-top: 1px solid #f3f3f3; padding:25px 0px;}
.rolling-banner {white-space: nowrap;overflow: hidden;font-size: 0;}
.rolling-banner ul {margin: 0;padding: 0;height: 60px;display: inline-block;white-space: nowrap;}
.rolling-banner--animated ul {-webkit-animation: marquee 15s linear infinite;animation: marquee 15s linear infinite;}
.rolling-banner--animated ul:hover {-webkit-animation-play-state: paused;animation-play-state: paused;}
.rolling-banner li {    list-style: none;
    display: inline-block;
    width: 200px;
    height: 100%;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid #f1f1f1;
    padding: 3px 10px 8px;}
.rolling-banner img { width: 100%;}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}



#col_1612404262 { padding: 0px; }
#row_1576657744 { margin-top: 20px; margin-bottom: 30px; }
#row_1576647786 { border: 1px solid rgb(230, 230, 230); background-color: rgb(241, 241, 241); }
#col_1576648037 { background-position: center bottom; padding: 25px 0px 149px; background-image: url("/template/s171127001001/images/ban_bg33.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#col_1576647869 { background-position: center bottom; padding: 25px 0px 149px; background-image: url("/template/s171127001001/images/ban_bg22.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#col_1576649725 { background-position: center bottom; padding: 25px 0px 149px; background-image: url("/template/s171127001001/images/ban_bg11.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#row_1576647781 { border: 1px solid rgb(233, 233, 233); background-color: rgb(241, 241, 241); }
#row_1576647689 { border: 1px solid rgb(230, 230, 230); background-color: rgb(241, 241, 241); }
#col_1610609400 { padding: 0px 0px 0px 20px; }
#col_1610609394 { padding: 0px 20px; }
#col_1610609379 { padding: 0px 20px 0px 0px; }
#mobile_header .link_mologo img { width: 200px; height: auto; }
#logo img { width: auto; }
#col_1576658650 { padding: 0px 15px 0px 0px; }
#col_1576723830 { padding: 0px; }
#col_1576655466 { padding: 0px; margin-top: 20px; margin-bottom: 0px; }
#col_1576660705 { margin-top: 10px; margin-bottom: 0px; }
#col_1576655871 { margin-top: 0px; margin-bottom: 0px; }
#col_1576717633 { padding: 0px; }
#col_1576717627 { padding: 0px; }
#col_1576646389 { padding: 0px; }
#col_1576717619 { padding: 0px; }
#col_1576717616 { padding: 0px; }
#col_1576717613 { padding: 0px; }
#col_1576717609 { padding: 0px; }
#col_1576717606 { padding: 0px; }
#col_1576645806 { padding: 0px; }
#col_1576655905 { padding: 0px 30px 0px 15px; margin-top: 10px; margin-bottom: 0px; }
#col_1576653792 { padding: 0px 15px 0px 0px; margin-top: 10px; margin-bottom: 0px; }
#col_1576648549 { padding: 0px 0px 0px 15px; margin-top: 10px; margin-bottom: 0px; }
#col_1576648543 { padding: 0px 0px 0px 15px; margin-top: 10px; margin-bottom: 0px; }
#col_1576647721 { padding: 0px 0px 0px 15px; margin-top: 10px; margin-bottom: 0px; }
#col_1576647726 { padding: 0px 0px 0px 15px; margin-top: 10px; margin-bottom: 0px; }
#row_1576657771 { margin-top: 0px; margin-bottom: 30px; }
#col_1576647154 { padding: 26px 0px; }
#col_1576647105 { padding: 22px 0px; }
#col_1576647100 { padding: 29px 0px 28px; }
#col_1576647073 { padding: 24px 0px; }
#col_1576647049 { padding: 26px 0px; }
#col_1576644892 { padding: 19px 0px; }
#col_1576647030 { padding: 25px 0px; }
#footer { border-width: 1px 0px 0px; border-style: solid; border-color: rgb(230, 230, 230); margin: 0px; background-color: rgb(244, 244, 244); }
#row_1576657761 { margin-top: 30px; margin-bottom: 0px; }
.dpl_element#element_1576657671 { font-size: 16px; }
#col_1576647119 { padding: 26px 0px; }
#col_1576647088 { padding: 22px 0px; }
#row_1576644404 { border: 1px solid rgb(233, 233, 233); text-align: center; background-color: rgb(255, 255, 255); }
#col_1517962415 { padding: 0px; }
#section_1576656604 { text-align: left; }
#col_1576655296 { padding: 32px 0px; }
#element_1576655234 { background-position: center top; padding: 70px 0px 0px; background-image: url("/template/s171127001001/images/search_icon.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#row_1576655303 { text-align: center; background-color: rgb(34, 88, 151); }
#row_1576653442 { border: 1px solid rgb(231, 231, 231); text-align: center; padding-top: 34px; padding-bottom: 34px; }
#col_1576655817 { padding: 0px; }
#col_1576655814 { padding: 0px; }
#col_1576655810 { padding: 0px; }
#col_1576655807 { padding: 0px; }
#col_1576655479 { padding: 0px; }
.dpl_element#element_1576655234 { font-size: 17px; }
#element_1576653156 { background-position: center top; padding: 90px 0px 0px; background-image: url("/template/s171127001001/images/board_icon.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#element_1576653153 { background-position: center top; padding: 90px 0px 0px; background-image: url("/template/s171127001001/images/info_icon.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#element_1576653164 { background-position: center top; padding: 90px 0px 0px; background-image: url("/template/s171127001001/images/q&a_icon.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#element_1576653150 { background-position: center top; padding: 90px 0px 0px; background-image: url("/template/s171127001001/images/notice_icon.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
.dpl_element#element_1576653156 { font-size: 15px; }
.dpl_element#element_1576653153 { font-size: 15px; }
.dpl_element#element_1576653164 { font-size: 15px; }
.dpl_element#element_1576653150 { font-size: 15px; }
#element_1576650738 { border-width: 4px 0px 0px; border-style: solid; border-color: rgb(76, 126, 206); }
#col_1576649720 { padding: 25px 0px 35px; }
#element_1576648268 { margin: 5px 0px 0px; }
#element_1576648262 { margin: 15px 0px 0px; }
.dpl_element#element_1576648266 { font-size: 25px; }
.dpl_element#element_1576648262 { font-size: 25px; }
.dpl_element#element_1576648169 { font-size: 22px; }
.dpl_element#element_1576648167 { font-size: 22px; }
.dpl_element#element_1576648352 { font-size: 22px; }
.dpl_element#element_1576648165 { font-size: 22px; }
.dpl_element#element_1576648268 { font-size: 15px; font-weight: 500; }
#row_1576648205 { text-align: center; }
#row_1576647839 { background-color: rgb(46, 105, 199); }
#row_1576646071 { border-width: 0px 1px 0px 0px; border-style: solid; border-color: rgb(233, 233, 233); }
#row_1576646102 { border-width: 0px 0px 1px; border-style: solid; border-color: rgb(233, 233, 233); }
#row_1576646045 { border-width: 0px 1px 0px 0px; border-style: solid; border-color: rgb(233, 233, 233); }
#row_1576646339 { background-position: center top; padding-top: 83px; padding-bottom: 0px; background-image: url("/template/s171127001001/images/visual_icon7.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#row_1576646479 { background-position: center top; padding-top: 75px; padding-bottom: 0px; background-image: url("/template/s171127001001/images/visual_icon9.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#row_1576646613 { background-position: center top; padding-top: 70px; padding-bottom: 0px; background-image: url("/template/s171127001001/images/visual_icon6.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#row_1576646533 { background-position: center top; padding-top: 75px; padding-bottom: 0px; background-image: url("/template/s171127001001/images/visual_icon3.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#row_1576646688 { background-position: center top; padding-top: 75px; padding-bottom: 0px; background-image: url("/template/s171127001001/images/visual_icon8.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#row_1576646531 { background-position: center top; padding-top: 83px; padding-bottom: 0px; background-image: url("/template/s171127001001/images/visual_icon5.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#row_1576646063 { border-width: 0px 1px 1px 0px; border-style: solid; border-color: rgb(233, 233, 233); }
#row_1576646487 { background-position: center top; padding-top: 77px; padding-bottom: 0px; background-image: url("/template/s171127001001/images/visual_icon2.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
.dpl_element#element_1576645415 { font-size: 16px; }
.dpl_element#element_1576645414 { font-size: 16px; }
.dpl_element#element_1576645412 { font-size: 16px; }
.dpl_element#element_1576645411 { font-size: 16px; }
#row_1576646090 { border-width: 0px 0px 1px; border-style: solid; border-color: rgb(233, 233, 233); }
#row_1576646057 { border-width: 0px 1px 1px 0px; border-style: solid; border-color: rgb(233, 233, 233); }
#row_1576645434 { border-width: 0px 1px 1px 0px; border-style: solid; border-color: rgb(233, 233, 233); }
#row_1576645893 { background-position: center top; padding-top: 79px; padding-bottom: 0px; background-image: url("/template/s171127001001/images/visual_on_icon4.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#row_1576645480 { background-position: center top; padding-top: 74px; padding-bottom: 0px; background-image: url("/template/s171127001001/images/visual_icon1.png"); background-attachment: scroll; background-repeat: no-repeat; background-size: auto; }
#row_1576645048 { border-width: 0px 1px 1px 0px; border-style: solid; border-color: rgb(233, 233, 233); }
.dpl_element#element_1576645361 { font-size: 16px; }
.dpl_element#element_1576644885 { font-size: 16px; }
.dpl_element#element_1576644884 { font-size: 16px; }
.dpl_element#element_1576644882 { font-size: 14px; }
#col_1576637234 { padding: 25px 0px 0px; }
#col_1576637238 { padding: 0px 0px 0px 110px; }
#copyright p, #copyright a { color: rgb(85, 85, 85); }
#copyright a { color: rgb(85, 85, 85); }
#copyright a { color: rgb(85, 85, 85); }
#copyright a { color: rgb(85, 85, 85); }
#copyright a { color: rgb(85, 85, 85); }
#copyright a { color: rgb(85, 85, 85); }
#address address { color: rgb(85, 85, 85); }
#footer_menu li a { color: rgb(85, 85, 85); }
#col_1576634879 { padding: 0px; }
#section_1511744233 { border-width: 0px 0px 1px; border-style: solid; border-color: rgb(230, 230, 230); padding: 15px 0px 24px; }
#header { border-width: 0px 0px 3px; border-style: solid; border-color: rgb(2, 119, 209); background-color: rgb(255, 255, 255); }
#main_menu .gnb .depth1 > a:hover { color: rgb(51, 51, 51); }
#main_menu .gnb .depth1 > a { color: rgb(51, 51, 51); }
#logo { text-align: center; }
#header_menu { text-align: right; }

/* Tablet */
@media screen and (min-width:768px) and (max-width:991px) {

html, body {
    overflow-x:hidden;
}
.mobile_wrap {
    position:relative;
    background-color: transparent;
}
.mo_mclose {
    position: absolute;
    background: #40494e;
    z-index:10;
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    transform: translateX(-260px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transform:  all 0.5s ease;
    -ms-transform:  all 0.5s ease;
    transition: all  all 0.5s ease;
}
.mobile_wrap.mo_open {
}

/*헤더 수정(fixed)*/
.wrap > * {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-all 0.5s ease;
    -moz-transition: -moz-all 0.5s ease;
    -o-transform: -o-all 0.5s ease;
    -ms-transform: -ms-all 0.5s ease;
    transition:  all 0.5s ease;
}
.mobile_wrap.mo_open .wrap > * {
    -webkit-transform:translateX(260px);
    -moz-transform:translateX(260px);
    -o-transform:translateX(260px);
    -ms-transform:translateX(260px);
    transform:translateX(260px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transform:  all 0.5s ease;
    -ms-transform:  all 0.5s ease;
    transition: all 0.5s ease;
}
.mobile_wrap.mo_open .mo_mclose  {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transform:  all 0.5s ease;
    -ms-transform:  all 0.5s ease;
    transition: all 0.5s ease;
}

/* mobile_header start */
#mobile_header {
    overflow:hidden;
    text-align:center;
    height:80px;
}
.link_mobasket, .link_momenu,.link_mologin, .link_mohmenu  {
    display: inline-block;
    position: relative;
    z-index: 20;
    width: 37px;
    height: 43px;
    text-indent: -5000px;
    background-position: 50% 50%;
    border: none !important;
    background-color: transparent;
}
.link_mobasket {
    float: right;
    margin: 20px 15px 0 15px;
    visibility: hidden;
}
.link_mologo{
    position: absolute;
    text-align: center;
    z-index: 3000;
    font-size: 30px;
    line-height: 80px;
    width: 100%;
}
.link_mologo a {
    display:block;
    line-height: 80px;
    font-weight: 400;	
}
.link_mologo img {
    padding-top: 25px;
}
.link_momenu {
    float: left;
    margin: 18px 15px 0 15px;
    background-image: url(/template/s171127001001/images/bars.png);
    background-repeat: no-repeat;
    z-index: 3001;
    background-color:transparent !important;
}
.link_mologin {
    float: right;
    background-image: url(/template/g170911001001/images/mo_login.png);
    background-size:37px 37px; 
    background-repeat: no-repeat;
}
.link_mohmenu {
    float: right;
    margin: 18px 15px 0 15px;
    background-image: url(/template/s171127001001/images/ellipsis-h.png);
    background-repeat: no-repeat;
    z-index: 3001;
}
.link_momenu:active,
.link_mologin:active {
    position: relative;
    top: 1px;
}
/* mobile_header end */

/* mobile_hmenu start */
#mobile_hmenu{
    display:block;
    position: fixed;
    z-index: 5000;
    width: 160px;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #ebebeb;
    background-color:rgba(255,255,255,1.0);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);    
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -moz-transition: -moz-transform  0.3s ease-in-out;
    -o-transform: -o-transform  0.3s ease-in-out;
    -ms-transform: -ms-transform  0.3s ease-in-out;
    transition: transform  0.3s ease-in-out;    
}
.view_edit #mobile_hmenu{
    position:absolute;
}
.mobile_wrap.mo_hmenu_open #mobile_hmenu{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow:0px 2px 7px;
}
.mobile_wrap_overlay{
    display:none;
    position:absolute;
    z-index:200;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#686868;
    background-color:rgba(0,0,0,0.5);
    transition:opacity 0.3s ease-in-out;
    opacity:0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    cursor: pointer;
}
.mobile_wrap.mo_hmenu_open .mobile_wrap_overlay{
    display:block;
    opacity:1;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.tit_m_hmenu {
    overflow:hidden;
    width: 100%;
    height: 50px;
    /*background-color: #6643e6;*/
}
.txt_m_hmenu {
    color:#fff;
    font-size:15px !important;
    font-weight: 300 !important;
    line-height: 50px !important;
    text-align: center;
}
.bth_m_hmenu {
    display:inline-block;
    position:absolute;
    width:40px;
    height:50px;
    text-indent:-5000px;
    background:url(/template/s171127001001/images/moblieMenuclose.png) no-repeat 50% 20px;
}
.box_mobile_hmenu > li > a {
    display: block;
    padding: 15px 20px;
    color: #666666;
    font-family: 'noto sans Kr';
    font-size: 13px;
    line-height: 20px;
    border-bottom: 1px solid #d5d9df;
}
.box_mobile_hmenu > li:hover > a {
	/*color: #6643e7;*/
}

/* mobile search */
.hmenu_m_seach{
    padding:7px;
}
.hmenu_m_seach .box_m_search{
    width: 100%;
    height: 25px;
    border: 1px solid #cccccc;
    text-align: left;
    background-color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 20px;
    padding-right: 55px;
    overflow: hidden;
}
.hmenu_m_seach .tf_search_keyword{
    text-align: left;
    height: 25px;
    border: none;
    padding-left: 12px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.hmenu_m_seach .btn_search{
    width: 23px;
    border-left: 1px solid #cccccc;
    height: 25px;
    position: absolute;
    top: -2px;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-indent: -5000px;
    overflow: hidden;
    line-height: 7;
    background: #f6f6f6 url(/template/g170911001001/images/search_btn_1.png) center center no-repeat;
}
/* mobile_hmenu end */ 

/* mobile_mainmenu start */
/*#mobile_mainmenu {
    visibility: visible;
    display:block;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    z-index:201;
}*/
#mobile_mainmenu {
    visibility: visible;
    display:block;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    z-index:1000;    
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    transform: translateX(-260px);
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -o-transform: -o-transform 0.5s ease;
    -ms-transform: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
}
.mobile_wrap.mo_open #mobile_mainmenu{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
#mobile_mainmenu .depth1{
    border-bottom: 1px solid #484848;
}
#mobile_mainmenu .depth1:hover{
    background-color: #292929;
}
#mobile_mainmenu .depth1:hover > a {
	/*color: #6643e7;*/
}
#mobile_mainmenu .depth1 .depth_arrow:after{
    position: absolute;
    top: 20px;
    right: 30px;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url(/template/s171127001001/images/design_kitIcon.png);
    background-position: -64px -68px;
    background-repeat: no-repeat;
}
#mobile_mainmenu .depth2.depth_open ul li {
    border-bottom: 1px solid #484848;
}
#mobile_mainmenu .gnb,
#mobile_mainmenu .depth2,
#mobile_mainmenu .depth3 {
    overflow-y:auto; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    -webkit-overflow-scrolling:touch;
    z-index:1;
}
#mobile_mainmenu .depth2,
#mobile_mainmenu .depth3 {
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -o-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    transform:translateX(-100%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#mobile_mainmenu ul > li > a {
    display: block;
    padding: 13px 25px 13px;
    outline: none;
    font-size: 15px;
    /*color: #999999;*/
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    text-decoration: none;
    text-align: left;
    line-height: 24px;;
}
#mobile_mainmenu ul > li.depth1 > a:hover{
}
#mobile_mainmenu ul > li:first-child > a {
    /*box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);*/
}
#mobile_mainmenu .depth_arrow {
    position:relative;
}
#mobile_mainmenu .depth_arrow:before {
}
#mobile_mainmenu h3 {
    background-color: #6643e7;
    text-align: left;
    letter-spacing:1px;    
}
#mobile_mainmenu .depth3 h3{
    background-color:#6643e7;
}
#mobile_mainmenu h3 > a {
    display: block;
    outline: none;
    font-size: 15px;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    text-decoration: none;
    text-align: left;
    letter-spacing: 1px;
    color: #fff;
    font-weight:400;
    text-align: center;
    padding: 23px 15px; 
    line-height: 24px;
}
#mobile_mainmenu .depth2 > ul > li > a:hover,
#mobile_mainmenu .depth3 > ul > li > a:hover {
    background-color: #292929;
}
#mobile_mainmenu .overlay > ul > li > a,
#mobile_mainmenu .overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0,0,0,0);
}
#mobile_mainmenu .gnb:before,
#mobile_mainmenu .depth2:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
#mobile_mainmenu .gnb.overlay:before,
#mobile_mainmenu .depth2.overlay:before {
    width: 100%;
    height: 100%;
    opacity: 1;
}
#mobile_mainmenu .depth_open {
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -o-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0);
    z-index:10;
}
#mobile_mainmenu .depth_back {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    font-size: 10px;
    padding: 1em;
    cursor: pointer;
    position: relative;
    background-color: #000;
    text-align: center;
}
.depth1 > a,
.depth2 ul li > a,
.depth3 ul li > a {
    color:#999;
}
#mobile_mainmenu .gnb.overlay .depth1 > a,
#mobile_mainmenu .depth2.overlay > ul > li > a{
    display:none;
}
/* mobile_mainmenu end */

/* visual start */
/* slideshow */
#app_1511513110 #slideshow_1576654979877 {
	height: 350px;
}
#app_1511513110 .slides {
	background-position: 76% 50%;
}
#app_1511513110 .slide_items.image {
	left: 10%;
    max-width:350px;
}

#section_1576656604 {
	text-align: center;
}
#row_1576723148 {
	position: static;
    width: 100%;
}
#element_1576721847 li:nth-child(1),
#element_1576721847 li:nth-child(2),
#element_1576721847 li:nth-child(3),
#element_1576721847 li:nth-child(4),
#element_1576721847 li:nth-child(5) {
    width: 20%;
}
#element_1576721847 li:nth-child(6),
#element_1576721847 li:nth-child(7),
#element_1576721847 li:nth-child(8),
#element_1576721847 li:nth-child(9) {
    width: 25%;
}
#element_1576721847 .item3 a {
	border-right: 0;
}
#element_1576721847 .item4 a,
#element_1576721847 .item5 a {
	border-top: 1px solid #e9e9e9;
}
#element_1576721847 .item6 a {
	border-left: 1px solid #e9e9e9;
    border-right: 0;
}
/* visual end */

/*** content start ***/
#element_1576650738 .board_link_box:nth-child(1),
#element_1576650738 .board_link_box:nth-child(2),
#element_1576650738 .board_link_box:nth-child(3) {
	width: 33.33%
}
#element_1576650738 .board_link_box:nth-child(4),
#element_1576650738 .board_link_box:nth-child(5),
#element_1576650738 .board_link_box:nth-child(6),
#element_1576650738 .board_link_box:nth-child(7) {
	width: 25%
}
/*** content end ***/

/* footer start */
#footer {
    padding: 30px 0 20px;
}
#footer_menu {
    font-size: 12px;
}
#address {
    font-size: 12px;
}
#copyright {
    font-size: 11px;
}
/* footer end */
#col_1576655905 { padding: 0px 30px 0px 15px; }
#col_1576653792 { padding: 0px 15px; }
#section_1576656604 { margin: 30px 0px 0px; }
#mobile_header { background-color: rgb(255, 255, 255); }
}

/* Mobile */
@media screen and (max-width:767px) {

html, body {
    overflow-x:hidden;
}
.mobile_wrap {
    position:relative;
    background-color: transparent;
}
.mo_mclose {
    position: absolute;
    background: #40494e;
    z-index:10;
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    transform: translateX(-260px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transform:  all 0.5s ease;
    -ms-transform:  all 0.5s ease;
    transition: all  all 0.5s ease;
}
.mobile_wrap.mo_open {
}

/*헤더 수정(fixed)*/
.wrap > * {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-all 0.5s ease;
    -moz-transition: -moz-all 0.5s ease;
    -o-transform: -o-all 0.5s ease;
    -ms-transform: -ms-all 0.5s ease;
    transition:  all 0.5s ease;
}
.mobile_wrap.mo_open .wrap > * {
    -webkit-transform:translateX(260px);
    -moz-transform:translateX(260px);
    -o-transform:translateX(260px);
    -ms-transform:translateX(260px);
    transform:translateX(260px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transform:  all 0.5s ease;
    -ms-transform:  all 0.5s ease;
    transition: all 0.5s ease;
}
.mobile_wrap.mo_open .mo_mclose  {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transform:  all 0.5s ease;
    -ms-transform:  all 0.5s ease;
    transition: all 0.5s ease;
}

/* mobile_header start */
#mobile_header {
    overflow:hidden;
    text-align:center;
    height:80px;
}
.link_mobasket, .link_momenu,.link_mologin, .link_mohmenu  {
    display: inline-block;
    position: relative;
    z-index: 20;
    width: 37px;
    height: 43px;
    text-indent: -5000px;
    background-position: 50% 50%;
    border: none !important;
    background-color: transparent;
}
.link_mobasket {
    float: right;
    margin: 20px 15px 0 15px;
    visibility: hidden;
}
.link_mologo{
    position: absolute;
    text-align: center;
    z-index: 3000;
    font-size: 30px;
    line-height: 80px;
    width: 100%;
}
.link_mologo a {
    display:block;
    line-height: 80px;
    font-weight: 400;	
}
.link_mologo img {
    padding-top: 25px;
}
.link_momenu {
    float: left;
    margin: 18px 15px 0 15px;
    background-image: url(/template/s171127001001/images/bars.png);
    background-repeat: no-repeat;
    z-index: 3001;
    background-color:transparent !important;
}
.link_mologin {
    float: right;
    background-image: url(/template/g170911001001/images/mo_login.png);
    background-size:37px 37px; 
    background-repeat: no-repeat;
}
.link_mohmenu {
    float: right;
    margin: 18px 15px 0 15px;
    background-image: url(/template/s171127001001/images/ellipsis-h.png);
    background-repeat: no-repeat;
    z-index: 3001;
}
.link_momenu:active,
.link_mologin:active {
    position: relative;
    top: 1px;
}
/* mobile_header end */

/* mobile_hmenu start */
#mobile_hmenu{
    display:block;
    position: fixed;
    z-index: 5000;
    width: 160px;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #ebebeb;
    background-color:rgba(255,255,255,1.0);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);    
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -moz-transition: -moz-transform  0.3s ease-in-out;
    -o-transform: -o-transform  0.3s ease-in-out;
    -ms-transform: -ms-transform  0.3s ease-in-out;
    transition: transform  0.3s ease-in-out;    
}
.view_edit #mobile_hmenu{
    position:absolute;
}
.mobile_wrap.mo_hmenu_open #mobile_hmenu{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow:0px 2px 7px;
}
.mobile_wrap_overlay{
    display:none;
    position:absolute;
    z-index:200;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#686868;
    background-color:rgba(0,0,0,0.5);
    transition:opacity 0.3s ease-in-out;
    opacity:0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    cursor: pointer;
}
.mobile_wrap.mo_hmenu_open .mobile_wrap_overlay{
    display:block;
    opacity:1;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.tit_m_hmenu {
    overflow:hidden;
    width: 100%;
    height: 50px;
    /*background-color: #6643e6;*/
}
.txt_m_hmenu {
    color:#fff;
    font-size:15px !important;
    font-weight: 300 !important;
    line-height: 50px !important;
    text-align: center;
}
.bth_m_hmenu {
    display:inline-block;
    position:absolute;
    width:40px;
    height:50px;
    text-indent:-5000px;
    background:url(/template/s171127001001/images/moblieMenuclose.png) no-repeat 50% 20px;
}
.box_mobile_hmenu > li > a {
    display: block;
    padding: 15px 20px;
    color: #666666;
    font-family: 'noto sans Kr';
    font-size: 13px;
    line-height: 20px;
    border-bottom: 1px solid #d5d9df;
}
.box_mobile_hmenu > li:hover > a {
	/*color: #6643e7;*/
}

/* mobile search */
.hmenu_m_seach{
    padding:7px;
}
.hmenu_m_seach .box_m_search{
    width: 100%;
    height: 25px;
    border: 1px solid #cccccc;
    text-align: left;
    background-color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 20px;
    padding-right: 55px;
    overflow: hidden;
}
.hmenu_m_seach .tf_search_keyword{
    text-align: left;
    height: 25px;
    border: none;
    padding-left: 12px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.hmenu_m_seach .btn_search{
    width: 23px;
    border-left: 1px solid #cccccc;
    height: 25px;
    position: absolute;
    top: -2px;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-indent: -5000px;
    overflow: hidden;
    line-height: 7;
    background: #f6f6f6 url(/template/g170911001001/images/search_btn_1.png) center center no-repeat;
}
/* mobile_hmenu end */ 

/* mobile_mainmenu start */
/*#mobile_mainmenu {
    visibility: visible;
    display:block;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    z-index:201;
}*/
#mobile_mainmenu {
    visibility: visible;
    display:block;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    z-index:1000;    
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    transform: translateX(-260px);
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -o-transform: -o-transform 0.5s ease;
    -ms-transform: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
}
.mobile_wrap.mo_open #mobile_mainmenu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
#mobile_mainmenu .depth1{
    border-bottom: 1px solid #484848;
}
#mobile_mainmenu .depth1:hover{
    background-color: #292929;
}
#mobile_mainmenu .depth1:hover > a {
	/*color: #6643e7;*/
}
#mobile_mainmenu .depth1 .depth_arrow:after{
    position: absolute;
    top: 20px;
    right: 30px;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url(/template/s171127001001/images/design_kitIcon.png);
    background-position: -64px -68px;
    background-repeat: no-repeat;
}
#mobile_mainmenu .depth2.depth_open ul li {
    border-bottom: 1px solid #484848;
}
#mobile_mainmenu .gnb,
#mobile_mainmenu .depth2,
#mobile_mainmenu .depth3 {
    overflow-y:auto; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    -webkit-overflow-scrolling:touch;
    z-index:1;
}
#mobile_mainmenu .depth2,
#mobile_mainmenu .depth3 {
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -o-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    transform:translateX(-100%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#mobile_mainmenu ul > li > a {
    display: block;
    padding: 13px 25px 13px;
    outline: none;
    font-size: 15px;
    /*color: #999999;*/
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    text-decoration: none;
    text-align: left;
    line-height: 24px;;
}
#mobile_mainmenu ul > li.depth1 > a:hover{
}
#mobile_mainmenu ul > li:first-child > a {
    /*box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);*/
}
#mobile_mainmenu .depth_arrow {
    position:relative;
}
#mobile_mainmenu .depth_arrow:before {
}
#mobile_mainmenu h3 {
    background-color: #6643e7;
    text-align: left;
    letter-spacing:1px;    
}
#mobile_mainmenu .depth3 h3{
    background-color:#6643e7;
}
#mobile_mainmenu h3 > a {
    display: block;
    outline: none;
    font-size: 15px;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    text-decoration: none;
    text-align: left;
    letter-spacing: 1px;
    color: #fff;
    font-weight:400;
    text-align: center;
    padding: 23px 15px; 
    line-height: 24px;
}
#mobile_mainmenu .depth2 > ul > li > a:hover,
#mobile_mainmenu .depth3 > ul > li > a:hover {
    background-color: #292929;
}
#mobile_mainmenu .overlay > ul > li > a,
#mobile_mainmenu .overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0,0,0,0);
}
#mobile_mainmenu .gnb:before,
#mobile_mainmenu .depth2:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
#mobile_mainmenu .gnb.overlay:before,
#mobile_mainmenu .depth2.overlay:before {
    width: 100%;
    height: 100%;
    opacity: 1;
}
#mobile_mainmenu .depth_open {
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -o-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0);
    z-index:10;
}
#mobile_mainmenu .depth_back {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    font-size: 10px;
    padding: 1em;
    cursor: pointer;
    position: relative;
    background-color: #000;
    text-align: center;
}
.depth1 > a,
.depth2 ul li > a,
.depth3 ul li > a {
    color:#999;
}
#mobile_mainmenu .gnb.overlay .depth1 > a,
#mobile_mainmenu .depth2.overlay > ul > li > a {
    display:none;
}
/* mobile_mainmenu end */

/* visual start */
/* slideshow */
#app_1511513110 #slideshow_1576654979877 {
	height: 240px;
}
#app_1511513110 .slides {
	background-position: 70% 50%;
}

#app_1511513110 .slide_items.image {
    width: 50%;
    max-width: 200px;
	left: 10%;
}

#section_1576656604 {
	text-align: center;
}
#row_1576723148 {
    width: 100%;
	position: static;
}

/* visual end */

/*** content start ***/
#element_1576650738 .board_link_box {
    width: 50%;
    font-size: 13px;
    text-align: center;
}
#element_1576650738 .board_link_box:first-child {
	width: 100%;
}
#element_1576650738 .board_link_box:nth-child(even) {
	border-left: 0;
}
#element_1576650738 .board_link_box a {
    padding: 14px 10px;
}
#element_1576650738 .board_link_box h3:after {
    margin-top: -4.5px;
    margin-right: 7px;
}

/*** content end ***/

/* footer start */
#footer {
    padding: 30px 0 20px;
}
#footer_menu {
    font-size: 12px;
}
#address {
    font-size: 12px;
}
#copyright {
    font-size: 11px;
}
#element_1576636264 {    height: inherit;}
/* footer end */
#col_1610609400 { padding: 0px 15px; }
#col_1610609394 { padding: 0px 15px 30px; }
#col_1610609379 { padding: 0px 15px 30px; }
#element_1576653150 { padding: 80px 0px 0px; }
#element_1576653156 { padding: 80px 0px 0px; }
#element_1576653153 { padding: 80px 0px 0px; }
#element_1576653164 { padding: 80px 0px 0px; }
#col_1576655905 { padding: 0px 30px; }
#col_1576653792 { padding: 0px 15px; }
#col_1576655466 { padding: 0px 15px; }
#col_1576655479 { padding: 0px 15px; }
#col_1576648549 { padding: 0px 15px; }
#col_1576648543 { padding: 0px 15px; }
#col_1576647721 { padding: 0px 15px; }
#col_1576647726 { padding: 0px 15px; }
#col_1576658650 { padding: 0px 15px; }
#section_1576656604 { margin: 30px 0px 0px; }
#col_1576637238 { padding: 0px 30px; text-align: center; }
#col_1576637234 { padding: 0px 0px 20px; text-align: center; }
}
.content_none{width:100%;background-color:#f4f4f4;text-align:center;padding:50px 0;color:#909090;margin:0 auto 20px}.DUBU_Board .content_none .inner_images,.content_none .inner_images{background-position:-124px -176px;width:62px;height:46px}.content_none .inner_text{padding-top:20px;font-size:14px}.content_none .inner_images{background-image:url(/inc/images/module_img.png);background-repeat:no-repeat;margin:0 auto}.DUBU_Slideshow .content_none .inner_images{background-position:-6px -178px;width:93px;height:51px}.DUBU_Map .content_none .inner_images{background-position:-32px -97px;width:36px;height:56px}.DUBU_Slidegallery .content_none .inner_images{width:62px;height:60px;background-position:-19px -250px}.DUBU_Shop .content_none .inner_images{width:64px;height:61px;background-position:-17px -339px}.DUBU_Search .content_none .inner_images{width:43px;height:43px;background-position:-124px -348px}.DUBU_Booking .content_none .inner_images{width:64px;height:61px;background-position:-16px -431px}.DUBU_Booking_Search .content_none .inner_images{width:50px;height:57px;background-position:-121px -432px}.DUBU_Banner .content_none .inner_images{width:67px;height:57px;background-position:-113px -259px}.DUBU_Payment .content_none .inner_images{width:69px;height:59px;background-position:-118px -527px}.link_privacy a{font-weight:700!important}.link_aboutus a,.link_nospam a,.link_service a,.link_useguide a{font-weight:200!important}.Social_Stream .content_none .inner_images{width:70px;height:74px;background-position:-13px -518px}