#slide_1610615038076 { background-position: 50% 50%; background-image: url("/app/dubu_slideshow/docs/slideshow_1610431300376/imgs/16106150817121_slide434.jpg"); background-repeat: no-repeat; background-size: auto 100%; }
#slide_items_1610615038076 { left: 14.99%; top: 22.18%; width: 359px; height: 244px; right: 53.52%; bottom: 23.35%; }
#slide_1610614980538 { background-position: 50% 50%; background-image: url("/app/dubu_slideshow/docs/slideshow_1610431300376/imgs/16106149878141_slide22.jpg"); background-repeat: no-repeat; background-size: auto 100%; }
#slide_items_1610614980538 { left: 14.99%; top: 22.18%; width: 359px; height: 244px; right: 53.52%; bottom: 23.35%; }
#slide_items_1576655029230 { left: 14.99%; top: 22.18%; width: 359px; height: 244px; right: 53.52%; bottom: 23.35%; }
#slide_1576654987959 { background-position: 50% 50%; background-image: url("/app/dubu_slideshow/docs/slideshow_1610431300376/imgs/16106129591835_slide11.jpg"); background-repeat: no-repeat; background-size: auto 100%; }
#slideshow_1610431300376 { height: 448px; }
/* Tablet */
@media screen and (min-width:768px) and (max-width:991px) {
 #slideshow_1610431300376 { height: 420px; }}
/* Mobile */
@media screen and (max-width:767px) {
 #slide_items_1610615038076 { left: 8.68%; top: 22.11%; width: 200px; height: 140px; right: 28.82%; bottom: 27.89%; }
 #slide_items_1610614980538 { left: 8.68%; top: 22.11%; width: 200px; height: 140px; right: 28.82%; bottom: 27.89%; }
 #slide_items_1576655029230 { left: 8.68%; top: 22.11%; width: 200px; height: 140px; right: 28.82%; bottom: 27.89%; }
 #slideshow_1610431300376 { height: 250px; }
}