@import url('./slideshow_animation.css');


/*** slideshow skin common css ****/
.slideshow {
    height: 500px;
}

.slideshow h1 {
    font-size: 3.3em;
}

.slideshow h2 {
    font-size: 2.8em;
}

.slideshow h3 {
    font-size: 2.4em;
}

.slideshow h4 {
    font-size: 1.8em;
}

.slideshow h5 {
    font-size: 1.4em;
}

.slideshow h6 {
    font-size: 1.2em;
}

.slideshow p {
    font-size: 1em;
}

.slideshow .slide_items.text {
    font-size: 16px;
    min-height: 25px;
}

.slideshow .slide_items.button {
    /*padding:9px 26px 8px 27px;*/
    width: 100px;
    height: 30px;
    background-color: #fff;
    font-size: 15px;
    color: #3b3b3b;
    border: 1px solid #b7b7b7;
}

.slideshow .slide_items.text span,
.slideshow .slide_items.text span *,
.slideshow .slide_items.button span {
    font-family: inherit;
}

.slideshow .slide_items.button button {
    width: 100%;
    height: 100%;
    font-size: inherit;
    color: #3b3b3b;
    /*background-color: transparent;*/
}

.slideshow .slide_items.image img,
.slideshow .slide_items.video img {
    width: 100%;
    height: 100%;
}

.slideshow .slide_items.image[link-href] {
    cursor: pointer;
}

.slideshow .slide_items.video {
    width: 264px;
    height: 200px;
}

.slideshow .slide_items.video .video_responsive {
    background-color: #000;
}

.slideshow .slide_items.video .play-icon {
    background: url(./images/play_icon.png) no-repeat;
    height: 80px;
    width: 80px;
    position: absolute;
    margin-left: -40px;
    margin-top: -40px;
    left: 50%;
    top: 50%;
    cursor: pointer;
}

.slideshow .slide_items.video .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.slideshow .slide_items.video .hide {
    display: none;
}

.slideshow .slides {
    overflow: hidden;
}

.slideshow .slides .slide_items {
    position: absolute;
}

.slideshow .hidden_slide {
    display: none;
}

.slideshow.carousel {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-inner > .carousel-items {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

.carousel-inner > .active,
.carousel-inner > .target {
    display: block;
}

.carousel-inner > .target {
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
}

.slideshow .carousel-nav a {
    display: block;
    position: absolute;
    top: 50%;
    bottom: auto;
    z-index: 50;
    background: url(./images/slide_skin_type.png) no-repeat;
    text-indent: -5000px;
    cursor: pointer;
}

.slideshow .carousel-dots {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    z-index: 15;
    list-style: none;
}

.slideshow .carousel-dots li {
    display: inline-block;
    margin: 0;
    background: url(./images/slide_skin_type.png) no-repeat;
    border: 0 none;
    border-radius: 0;
    vertical-align: middle;
    cursor: pointer;
}

.carousel-dots li > span {
    display: none;
}

.slideshow .carousel-dots li:first-child {
    margin: 0 !important ;
}

.slideshow .carousel-dots li.active {
    background: url(./images/slide_skin_type.png) no-repeat;
}

.slideshow .carousel-dots li.hide {
    display: none !important;
}

.animated.target {
    z-index: 10;
    visibility: visible;
}


/** Skin **/
.slideshow.skin_type1 .carousel-nav .nav-prev,
.slideshow.skin_type1 .carousel-nav .nav-next {
    margin-top: -18px;
    width: 25px;
    height: 36px;
}

.slideshow.skin_type1 .carousel-nav .nav-prev {
    left: 3%;
    background-position: 0 0;
}

.slideshow.skin_type1 .carousel-nav .nav-next {
    right: 3%;
    background-position: -50px 0;
}

.slideshow.skin_type2 .carousel-nav .nav-prev,
.slideshow.skin_type2 .carousel-nav .nav-next {
    margin-top: -19px;
    width: 23px;
    height: 38px;
}

.slideshow.skin_type2 .carousel-nav .nav-prev {
    left: 2%;
    background-position: 0 -45px;
}

.slideshow.skin_type2 .carousel-nav .nav-next {
    right: 2%;
    background-position: -50px -45px;
}

.slideshow.skin_type3 .carousel-nav .nav-prev,
.slideshow.skin_type3 .carousel-nav .nav-next {
    margin-top: -26px;
    width: 30px;
    height: 52px;
}

.slideshow.skin_type3 .carousel-nav .nav-prev {
    left: 0px;
    background-position: 0 -90px;
}

.slideshow.skin_type3 .carousel-nav .nav-next {
    right: 0px;
    background-position: -50px -90px;
}

.slideshow.skin_type4 .carousel-nav .nav-prev,
.slideshow.skin_type4 .carousel-nav .nav-next {
    margin-top: -38px;
    width: 42px;
    height: 76px;
}

.slideshow.skin_type4 .carousel-nav .nav-prev {
    left: 2%;
    background-position: 0 -150px;
}

.slideshow.skin_type4 .carousel-nav .nav-next {
    right: 2%;
    background-position: -50px -150px;
}

/* slide_type5 add hover effect */
/*
.slideshow.skin_type5 .carousel-nav .nav-prev,
.slideshow.skin_type5 .carousel-nav .nav-next{
    margin-top:-16px;
    width:18px;
    height:32px;
}

.slideshow.skin_type5 .carousel-nav .nav-prev{
    left:3%;
    background-position:0 -230px;
}

.slideshow.skin_type5 .carousel-nav .nav-next{
    right:3%;
    background-position:-50px -230px;
}
*/

.slideshow.skin_type5 .carousel-nav .nav-prev,
.slideshow.skin_type5 .carousel-nav .nav-next {
    background: none;
    top: 0;
    width: 50px;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.slideshow.skin_type5 .carousel-nav .nav-prev {
    left: 0;
}

.slideshow.skin_type5 .carousel-nav .nav-next {
    right: 0;
}

.slideshow.skin_type5 .carousel-nav .nav-prev:hover,
.slideshow.skin_type5 .carousel-nav .nav-next:hover {
    opacity: 1;
}

.slideshow.skin_type5 .carousel-nav .nav-prev:after,
.slideshow.skin_type5 .carousel-nav .nav-next:after {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 32px;
    top: 50%;
    bottom: auto;
    margin-top: -16px;
    background: url(./images/slide_skin_type.png) no-repeat;
}

.slideshow.skin_type5 .carousel-nav .nav-prev::after {
    left: 25%;
    background-position: 0 -230px;
}

.slideshow.skin_type5 .carousel-nav .nav-next::after {
    right: 25%;
    background-position: -50px -230px;
}

.slideshow.skin_type6 .carousel-nav .nav-prev,
.slideshow.skin_type6 .carousel-nav .nav-next {
    left: 50%;
    margin-left: -31px;
    width: 62px;
    height: 32px;
}

.slideshow.skin_type6 .carousel-nav .nav-prev {
    display: none;
    top: 20px;
    bottom: auto;
    background-position: 0 -270px;
}

.slideshow.skin_type6 .carousel-nav .nav-next {
    top: auto;
    bottom: 20px;
    background-position: 0 -310px;
}

.slideshow.skin_type7 .carousel-nav .nav-prev,
.slideshow.skin_type7 .carousel-nav .nav-next {
    margin-top: -16px;
    width: 35px;
    height: 30px;
}

.slideshow.skin_type7 .carousel-nav .nav-prev {
    left: 3%;
    background-position: 0 -363px;
}

.slideshow.skin_type7 .carousel-nav .nav-next {
    right: 3%;
    background-position: -54px -363px;
}

.slideshow.skin_type8 .carousel-nav .nav-prev,
.slideshow.skin_type8 .carousel-nav .nav-next {
    top: auto;
    bottom: 0;
    width: 59px;
    height: 59px;
}

.slideshow.skin_type8 .carousel-nav .nav-prev {
    right: 59px;
    background-position: 0 -434px;
}

.slideshow.skin_type8 .carousel-nav .nav-next {
    right: 0px;
    background-position: -74px -434px;
}

.slideshow.skin_type11 .carousel-nav .nav-prev,
.slideshow.skin_type11 .carousel-nav .nav-next {
    top: auto;
    bottom: 0;
    width: 58px;
    height: 58px;
}

.slideshow.skin_type11 .carousel-nav .nav-prev {
    right: 58px;
    background-position: 0 -641px;
}

.slideshow.skin_type11 .carousel-nav .nav-next {
    right: 0px;
    background-position: -74px -641px;
}

.slideshow.skin_type11 .carousel-nav .nav-prev,
.slideshow.skin_type11 .carousel-nav .nav-next {
    top: auto;
    bottom: 0;
    width: 58px;
    height: 58px;
}

.slideshow.skin_type11 .carousel-nav .nav-prev {
    right: 58px;
    background-position: 0 -641px;
}

.slideshow.skin_type11 .carousel-nav .nav-next {
    right: 0px;
    background-position: -74px -641px;
}

.slideshow.skin_type1 .carousel-dots {
    bottom: 17px;
}

.slideshow.skin_type1 .carousel-dots li {
    width: 16px;
    height: 16px;
    margin-left: 2px;
    background-position: -100px -20px;
}

.slideshow.skin_type1 .carousel-dots li.active {
    background-position: -100px 0;
}

.slideshow.skin_type1 .carousel-dots li.stop {
    width: 15px;
    height: 19px;
    background-position: -120px 0;
}

.slideshow.skin_type1 .carousel-dots li.play {
    width: 15px;
    height: 17px;
    background-position: -120px -20px;
}

.slideshow.skin_type2 .carousel-dots {
    bottom: 21px;
}

.slideshow.skin_type2 .carousel-dots li {
    width: 19px;
    height: 19px;
    margin-left: 5px;
    background-position: -100px -70px;
}

.slideshow.skin_type2 .carousel-dots li.active {
    background-position: -100px -45px;
}

.slideshow.skin_type2 .carousel-dots li.stop {
    background-position: -125px -45px;
}

.slideshow.skin_type2 .carousel-dots li.play {
    background-position: -125px -70px;
}

.slideshow.skin_type3 .carousel-dots {
    bottom: 17px;
    padding-right: 32px;
    text-align: right;
}

.slideshow.skin_type3 .carousel-dots li {
    width: 12px;
    height: 12px;
    margin-left: 1px;
    background-position: -100px -104px;
}

.slideshow.skin_type3 .carousel-dots li.active {
    width: 36px;
    margin-right: 1px;
    background-position: -100px -89px;
}

.slideshow.skin_type3 .carousel-dots li.stop {
    background-position: -100px -135px;
}

.slideshow.skin_type3 .carousel-dots li.play {
    background-position: -100px -119px;
}

.slideshow.skin_type4 .carousel-dots {
    bottom: 0;
    padding: 6px 0;
    background-color: rgba(60, 60, 60, 0.4);
}

.slideshow.skin_type4 .carousel-dots li {
    width: 17px;
    height: 17px;
    margin-left: 7px;
    background-position: -100px -175px;
}

.slideshow.skin_type4 .carousel-dots li.active {
    background-position: -100px -150px;
}

.slideshow.skin_type4 .carousel-dots li.stop {
    width: 22px;
    height: 22px;
    background-position: -125px -150px;
}

.slideshow.skin_type4 .carousel-dots li.play {
    width: 22px;
    height: 22px;
    background-position: -125px -175px;
}

.slideshow.skin_type5 .carousel-dots {
    bottom: 20px;
}

.slideshow.skin_type5 .carousel-dots li {
    width: 12px;
    height: 12px;
    margin-left: 6px;
    background-position: -100px -250px;
}

.slideshow.skin_type5 .carousel-dots li.active {
    background-position: -100px -230px;
}

.slideshow.skin_type5 .carousel-dots li.stop {
    width: 11px;
    height: 15px;
    background-position: -120px -230px;
}

.slideshow.skin_type5 .carousel-dots li.play {
    width: 12px;
    height: 15px;
    background-position: -120px -250px;
}

.slideshow.skin_type6 .carousel-dots {
    left: auto;
    right: 2%;
    width: auto;
    top: 7%;
    bottom: 0;
    text-align: right;
}

.slideshow.skin_type6 .carousel-dots li {
    display: block;
    width: 14px;
    height: 14px;
    margin-top: 8px;
    background-position: -100px -290px;
    text-align: center;
}

.slideshow.skin_type6 .carousel-dots li.active {
    background-position: -100px -270px;
}

.slideshow.skin_type6 .carousel-dots li.stop {
    width: 14px;
    height: 11px;
    background-position: -100px -310px;
}

.slideshow.skin_type6 .carousel-dots li.play {
    width: 14px;
    height: 13px;
    background-position: -100px -330px;
}

.slideshow.skin_type7 .carousel-dots {
    bottom: 20px;
}

.slideshow.skin_type7 .carousel-dots li {
    width: 15px;
    height: 17px;
    margin-left: 6px;
    background-position: -100px -393px;
}

.slideshow.skin_type7 .carousel-dots li.active {
    background-position: -100px -373px;
}

.slideshow.skin_type7 .carousel-dots li.stop {
    width: 15px;
    height: 15px;
    background-position: -121px -374px;
}

.slideshow.skin_type7 .carousel-dots li.play {
    width: 15px;
    height: 15px;
    background-position: -121px -394px;
}

.slideshow.skin_type8 .carousel-dots {
    top: auto;
    left: 43px;
    text-align: right;
}

.slideshow.skin_type8 .carousel-dots li {
    display: block;
    width: 2px;
    height: 20px;
    margin-top: 3px;
    background-position: -146px -434px;
}

.slideshow.skin_type8 .carousel-dots li.active {
    width: 5px;
    background-position: -145px -464px;
}

.slideshow.skin_type8 .carousel-dots li.stop {
    margin-top: 10px;
    width: 5px;
    height: 10px;
    background-position: -155px -439px;
}

.slideshow.skin_type8 .carousel-dots li.play {
    margin-top: 10px;
    width: 7px;
    height: 10px;
    background-position: -153px -469px;
}

.slideshow.skin_type9 .carousel-dots {
    top: auto;
    text-align: right;
    left: auto;
    right: 8%;
    max-width: 18px;
}

.slideshow.skin_type9 .carousel-dots li {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin-top: 32px;
    background-position: -139px -522px;
    text-align: center;
    -webkit-transition: margin 0.5s ease-in-out;
    transition: margin 0.5s ease-in-out;
}

.slideshow.skin_type9 .carousel-dots li.active {
    background-position: -139px -499px;
    margin-bottom: 102px !important;
}

.slideshow.skin_type9 .carousel-dots li.stop {
    margin-top: 32px;
    background-position: -113px -522px;
}

.slideshow.skin_type9 .carousel-dots li.play {
    margin-top: 32px;
    background-position: -115px -499px;
}

.slideshow.skin_type9 .carousel-dots li:after {
    display: inline-block;
    content: '';
    width: 2px;
    height: 0;
    position: absolute;
    left: 8px;
    top: -webkit-calc(100% + 22px);
    top: calc(100% + 22px);
    background: #ff7400;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slideshow.skin_type9 .carousel-dots li.active:after {
    width: 2px;
    height: 80px;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slideshow.skin_type9 .carousel-dots li:nth-last-child(3).active:after {
    width:0;
    height: 0;
}

.slideshow.skin_type9 .carousel-dots li:nth-last-child(3).active{
    margin-bottom: 0 !important;
}

.slideshow.skin_type11 .carousel-dots {
    top: auto;
    left: 80px;
    text-align: right;
}

.slideshow.skin_type11 .carousel-dots li {
    display: block;
    width: 30px;
    height: 4px;
    background:none;
    background-color: #212121;
    margin-top: 30px;
    position: relative;
}

.slideshow.skin_type11 .carousel-dots li.active>span {
    display: block;
    position: absolute;
    left: 0;
    top: -23px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.72px;
    text-align: left;
    color: #000;
}

.slideshow.skin_type11 .carousel-dots li.active {
    width: 60px;
}

.slideshow.skin_type11 .carousel-dots li.stop {
    margin-top: 20px;
    width: 14px;
    height: 21px;
    background: url(./images/slide_skin_type.png) no-repeat;
    background-position: -1px -724px;
}

.slideshow.skin_type11 .carousel-dots li.play {
    margin-top: 20px;
    width: 14px;
    height: 20px;
    background: url(./images/slide_skin_type.png) no-repeat;
    background-position: -37px -727px;
}

.slideshow.skin_type11 .carousel-dots li {
    display: block;
    width: 30px;
    height: 4px;
    background: none;
    background-color: #212121;
    margin-top: 30px;
    position: relative;
}

.slideshow.skin_type11 .carousel-dots li.active > span {
    display: block;
    position: absolute;
    left: 0;
    top: -23px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.72px;
    text-align: left;
    color: #000;
}

.slideshow.skin_type11 .carousel-dots li.active {
    width: 60px;
}

.slideshow.skin_type11 .carousel-dots li.stop {
    margin-top: 20px;
    width: 14px;
    height: 21px;
    background: url(./images/slide_skin_type.png) no-repeat;
    background-position: -1px -724px;
}

.slideshow.skin_type11 .carousel-dots li.play {
    margin-top: 20px;
    width: 14px;
    height: 20px;
    background: url(./images/slide_skin_type.png) no-repeat;
    background-position: -37px -727px;
}

@media screen and (max-width: 991px) {
    .slideshow.skin_type9 .carousel-dots {
        right: 4%;
    }

    .slideshow.skin_type9 .carousel-dots li {
        margin-top: 8px;
        width: 10px;
        height: 10px;
        background-position: -95px -526px;
    }

    .slideshow.skin_type9 .carousel-dots li:after {
        top: -webkit-calc(100% + 22px);
        top: calc(100% + 8px);
    }

    .slideshow.skin_type9 .carousel-dots li.active:after {
        height: 40px;
        left: 4px;
    }

    .slideshow.skin_type9 .carousel-dots li.active {
        background-position: -95px -503px;
        margin-bottom: 48px !important;
    }

    .slideshow.skin_type9 .carousel-dots li.play,
    .slideshow.skin_type9 .carousel-dots li.stop {
        margin-top: 8px;
        background-position: -75px -526px;
        width: 10px;
        height: 10px;
    }

    .slideshow.skin_type9 .carousel-dots li.play {
        background-position: -77px -503px;
    }

    .slideshow.skin_type11 .carousel-dots {
        left: 20px;
    }
}

@media screen and (max-width: 767px) {
    .slideshow.skin_type9 .carousel-dots {
        text-align: center;
        right: auto;
        bottom: 2%;
        max-width: inherit;
    }

    .slideshow.skin_type9 .carousel-dots li {
        margin-top: 0;
        margin-left: 17px;
    }

    .slideshow.skin_type9 .carousel-dots li.active:after {
        width: 40px;
        height: 2px;
        left: 26px;
    }

    .slideshow.skin_type9 .carousel-dots li.active {
        margin-bottom: 0 !important;
        margin-right: 48px !important;
    }

    .slideshow.skin_type9 .carousel-dots li:nth-last-child(3).active {
        margin-right: 0 !important;
    }

    .slideshow.skin_type9 .carousel-dots li:after {
        top: -webkit-calc(100% + -7px);
        top: calc(100% + -7px);
    }

    .slideshow.skin_type9 .carousel-dots li.play,
    .slideshow.skin_type9 .carousel-dots li.stop {
        margin-top: 0;
    }
}

/* skin10 */
.slideshow.skin_type10 .carousel-dots {
    display: flex;
    left: 3.258%;
    top: 50%;
    width: 30px;
    height: 270px;
    max-height: 80%;
    transform: translateY(-50%);
    flex-direction: column;
    align-items: stretch;
}

.slideshow.skin_type10 li {
    flex: 1;
    width: 100%;
    background-image: none;
    text-align: center;
}

.slideshow.skin_type10 .carousel-dots li,
.slideshow.skin_type10 .carousel-dots li.active {
    background-image: none;
}

.slideshow.skin_type10 li span {
    display: inline-block;
    overflow: hidden;
    width: 4px;
    height: 100%;
    background-color: #fff;
    text-indent: -999999px;
}

.slideshow.skin_type10 li.active {
    background-image: none;
}

.slideshow.skin_type10 li.active span {
    width: 6px;
    background-color: #828282;
}

.slideshow.skin_type10 .carousel-dots li.stop,
.slideshow.skin_type10 .carousel-dots li.play {
    flex: none;
    position: relative;
    width: 30px;
    height: 20px;
    margin-top: 20px;
    background-image: none;
    background-color: transparent;
}

.slideshow.skin_type10 .carousel-dots li.stop span,
.slideshow.skin_type10 .carousel-dots li.play span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

.slideshow.skin_type10 .carousel-dots li.stop::before,
.slideshow.skin_type10 .carousel-dots li.stop::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #fff;
}

.slideshow.skin_type10 .carousel-dots li.stop::before {
    left: 8px;
}

.slideshow.skin_type10 .carousel-dots li.stop::after {
    right: 8px;
}

.slideshow.skin_type10 .carousel-dots li.play::before {
    content: '';
    display: inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
}

@media screen and (max-width: 1199px) and (min-width: 992px) {    
    .slideshow.skin_type10 .carousel-dots {
        left: 2.8%;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    .slideshow.skin_type10 .carousel-dots {
        left: 2%;
    }
}
@media screen and (max-width: 767px) {
    .slideshow.skin_type10 .carousel-dots {
        left: 0%;
        max-height: 70%;
    }

    .slideshow.skin_type10 li span {
        width: 3px;
    }

    .slideshow.skin_type10 li.active span {
        width: 5px;
    }

    .slideshow.skin_type10 .carousel-dots li.stop,
    .slideshow.skin_type10 .carousel-dots li.play {
        height: 15px;
        margin-top: 15px;
    }

    .slideshow.skin_type10 .carousel-dots li.stop::before,
    .slideshow.skin_type10 .carousel-dots li.stop::after {
        width: 3px;
    }

    .slideshow.skin_type10 .carousel-dots li.stop::before {
        left: 10px;
    }

    .slideshow.skin_type10 .carousel-dots li.stop::after {
        right: 10px;
    }

    .slideshow.skin_type10 .carousel-dots li.play::before {
        border-top-width: 8px;
        border-bottom-width: 8px;
        border-left-width: 11px;
    }
}


/* 이동/페이지버튼 스킨 */
.list_slide_skin li {
    margin-top: 10px;
    font-size: 16px;
    color: #f2f2f2;
    text-align: center;
}

.list_slide_skin li:first-child {
    margin-top: 0;
}

.list_slide_skin li label {
    position: relative;
    width: 100%;
}

.list_slide_skin span {
    display: block;
    position: relative;
}

.list_slide_skin li span:before {
    display: block;
    content: '';
    width: 100%;
    height: 113px;
    margin-bottom: 2px;
    background: url(./images/btn_slide_skin.png) 0 0;
}

.list_slide_skin li label input:checked + span:before {
    background: url(./images/btn_slide_skin.png) 0 -130px;
}

.list_slide_skin li span:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 113px;
    background: url(./images/btn_slide_skin.png);
}

.list_slide_skin li.skin_type1 span:after {
    background-position: 0 -260px;
}

.list_slide_skin li.skin_type2 span:after {
    background-position: 0 -390px;
}

.list_slide_skin li.skin_type3 span:after {
    background-position: 0 -520px;
}

.list_slide_skin li.skin_type4 span:after {
    background-position: 0 -650px;
}

.list_slide_skin li.skin_type5 span:after {
    background-position: 0 -780px;
}

.list_slide_skin li.skin_type6 span:after {
    background-position: 0 -910px;
}

.list_slide_skin li.skin_type7 span:after {
    background-position: 0 -1560px;
}

.list_slide_skin li.skin_type8 span:after {
    background-position: 0 -1690px;
}

.list_slide_skin li.skin_type9 span:after {
    background-position: 0 -1820px;
}

.list_slide_skin li.skin_type10 span:after {
    background-position: 0 -1950px;
}

.list_slide_skin li.skin_type11 span:after {
    background-position: 0 -2080px;
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    .slideshow.skin_type11 .carousel-dots li.active > span {
        font-size: 14px;
        top: -18px;
    }

    .slideshow.skin_type11 .carousel-dots li {
        width: 20px;
        height: 3px;
        margin-top: 28px;
    }

    .slideshow.skin_type11 .carousel-dots li.active {
        width: 40px;
    }

    .slideshow.skin_type11 .carousel-dots li.active>span{
        font-size: 14px;
        top: -18px;
    }
    
    .slideshow.skin_type11 .carousel-dots li {
        width: 20px;
        height: 3px;
        margin-top: 28px;
    }

    .slideshow.skin_type11 .carousel-dots li.active {
        width: 40px;
    }

    .slideshow.skin_type11 .carousel-dots li.stop {
        width: 12px;
        height: 20px;
        background-position: -70px -727px;
    }
}


/****** Retina_image *******/
@media all and (-webkit-min-device-pixel-ratio: 2) {
    .slideshow .carousel-nav a {
        background: url(./images/slide_skin_type@2x.png) no-repeat;
        background-size: 160px auto;
    }

    .slideshow .carousel-dots li {
        background: url(./images/slide_skin_type@2x.png) no-repeat;
        background-size: 160px auto;
    }

    .slideshow .carousel-dots li.active {
        background: url(./images/slide_skin_type@2x.png) no-repeat;
        background-size: 160px auto;
    }

    .slideshow.skin_type5 .carousel-nav .nav-prev:after,
    .slideshow.skin_type5 .carousel-nav .nav-next:after {
        background: url(./images/slide_skin_type@2x.png) no-repeat;
        background-size: 160px auto;
    }

    .slideshow.skin_type5 .carousel-nav .nav-prev::after {
        left: 25%;
        background-position: 0 -230px;
    }

    .slideshow.skin_type5 .carousel-nav .nav-next::after {
        right: 25%;
        background-position: -50px -230px;
    }

    .slideshow.skin_type11 .carousel-dots li {
        display: block;
        width: 20px;
        height: 3px;
        background: none;
        background-color: #212121;
        margin-top: 28px;
        position: relative;
    }

    .slideshow.skin_type11 .carousel-dots li.stop {
        width: 12px;
        height: 20px;
        background-position: -70px -727px;
    }
}
